fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
boto3
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
torch
omegaconf
streamlit
requests
streamlit-cookies-manager
tqdm
datasets
hydra-core
wandb
nltk
accelerate
torchinfo